// 侧边栏
.asidebar-container>.el-menu {
  width: 100%!important;
  min-height: 100%;
}
// 侧边栏图标
.asidebar-container .iconfont {
  position: absolute;
  font-size: 24px;
  left: 20px;
}
// 侧边栏背景颜色
.el-menu--dark {
  background-color: $color-nav;
}
// 侧边栏子菜单背景颜色
.el-menu--dark .el-submenu .el-menu {
  background-color: $color-submenu;
}
// 侧边栏文字
.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title {
  color: $color-pl;
  font-weight: 500;
  font-family: 'Microsoft YaHei';
  &.is-active {
    color: #fff;
  }
}
// 侧边栏的元素
.el-menu-item, .el-submenu__title {
  height: 50px;
  line-height: 50px;
  padding-left: 56px !important;
}

.el-submenu {
  .el-submenu {
    .el-menu-item {
      padding-left: 70px !important;
    }
  }
}
.el-submenu {
  .el-menu-item, .el-submenu>.el-submenu__title {
    height: 32px;
    line-height: 32px;
  }
  &>.el-menu {
    padding-bottom: 20px;
  }
  .el-submenu>.el-menu {
    padding-bottom: 0;
  }
}
// 侧边栏的小三角
.el-icon-arrow-down::before {
  content: "\E604";
}
// 侧边栏的蓝色线
.menu-wrapper {
  &>a:hover>.el-menu-item,
  &>.el-submenu:hover,
  &>.el-submenu.is-opened {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      background-color: $color-primary2;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
    }
    .el-submenu {
      span {
        color: $color-pl !important;
      }
      &::before {
        display: none;
      }
    }
  }
}

// 侧边栏收缩
.hideAsidebar {
  .asidebar-container {
    // 侧边栏的图标
    .collapse-btn, .iconfont {
      right: 18px;
    }
  }
  // 隐藏文字
  span {
    display: none;
  }
  .el-icon-caret-right:before {
    display: none;
  }
  .el-menu-item, .el-submenu__title {
    padding-right: 0px;
  }
  .el-menu {
    transition: none;
  }
  .el-submenu.is-opened {
    span {
      display: inline;
    }
    &>.el-submenu__title span{
      position: absolute;
      width: 180px;
      line-height: 50px;
      height: 50px;
      left: 100%;
      padding-left: 20px;
      z-index: 999;
      font-size: 20px;
      color: #fff;
    }
    .el-menu {
      width: 180px;
      margin-left: 0;
      padding-top: 50px;
    }
    .el-menu-item {
      padding-left: 20px !important;
      min-width: 180px;
    }
    .el-menu-item, .el-submenu>.el-submenu__title {
      height: 38px;
      line-height: 38px;
    }
    .el-submenu {
      &.is-opened {
        &>.el-submenu__title {
          span {
            position: static;
            width: 180px;
            line-height: 38px;
            height: 38px;
            font-size: 14px;
            padding-left: 0;
            color: #fff;
          }
          .el-submenu__icon-arrow {
            transform: translateZ(-90deg);
            &::before {
              content: "\E606";
            }
          }
        }
        .el-menu {
          padding-top: 0;
        }
      }
      &>.el-submenu__title .el-submenu__icon-arrow::before {
        display: block;
      } 
      .el-submenu__title {
        padding-left: 20px !important;
      }
    }
  }
}

